<div style="margin-bottom:10px;">
	<span class="badge badge-info"><%= @photos.count %> photos found </span>
</div>

<div>
	<ul class="thumbnails">
		<% @photos.each_with_index do |photo, index| %>
	        <li><a href="<%= photo_path(:id => 1, :url => photo['source']) %>"><img src="<%= photo['images'][photo['images'].count- 1]['source'] %>" alt="" width="128px"></a></li>
	    <% end %>
	</ul>
</div>

