<%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>

<td>
  <%= @photos.count %> photos found
</td>
<table>
  <tr>
<% @photos.each_with_index do |photo, index| %>
    <td><%= image_tag(photo['images'][photo['images'].count- 1]['source'], :size => "128x128", :alt => "Facebook Photo") %></td>
  <% if ((index + 1) % 8) == 0 %>
  </tr>
  <tr>
  <% end %>
<% end %>
  </tr>
</table>
 
<br />
