<div style="margin-bottom:10px;">
	<span class="badge badge-info"><%= @photos.count %> photos found </span>
</div>

<div>
	<ul class="thumbnails">
		<% @photos.each do |photo| %>
	        <li><a href="#"><img src="<%= photo['images'][photo['images'].count- 1]['source'] %>" alt="" width="128px"></a></li>
	    <% end %>
	</ul>
</div>

